%p
  processive is a hosted livewriter system. livewriter is an open source
  piece of software designed to help you and others see your writing as
  a process.
%p
  far too frequently, writing is treated as a means to an end, with the
  end being the final product. processive makes the entire process of
  writing into the art.
%div#closed{:title=>'Processive is closed. Sorry!'}
  #errors{:style => 'margin:5px 10px'} &nbsp;
  At this time, processive is in closed alpha.
  If you are interested, please feel free to enter your email
  address and we will let you know as soon as a slot opens up
  for you to try it out.
  %form{:action=>'/signup',:method=>'post'}
    %label{:for=>'email'}Email:
    %input#email{:name=>'email'}
    %button{:type=>'submit'}Sign Up
    